@page "{id:int}"
@model Petrello.Pages.Tasks.EditTModel
@{
}

<div class="mt-5">
	<form method="post">
		<input type="hidden" name="id" value="task.TaskId" />
		<div class="form-group">
			<label asp-for="Task.TaskName" class="form-label">Name of a new task</label>
			<input asp-for="Task.TaskName" class="form-control" />
			<span asp-validation-for="Task.TaskName" class="text text-danger"></span>
		</div>
		<br>
		<div class="form-group">
			<label asp-for="Task.Description" class="form-label">Description</label>
			<input asp-for="Task.Description" class="form-control" />

		</div>
		<br>
		<div class="form-group">
			<label asp-for="Task.Status" class="form-label">Status of a project</label>
			<select class="form-select"
					asp-for="Task.Status"
					asp-items="Html.GetEnumSelectList<DataTransfer.TaskStatus>()"></select>

		</div>
		<br>

		<br>
		<button class="btn btn-outline-primary">Edit the task</button>
		<a href="../../Index" class="btn btn-outline-secondary">Cancel</a>
	</form>
</div>